* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.header {
    background-color: #e7e7e7;
    width: 100%;
    padding: 15px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-size: 20px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: rgb(54, 54, 54);
    margin-left: 10px;
    margin-bottom: 10px;
}

.header a:hover {
    font-size: 25px;
    transition: all 0.5s ease;
}

.header hr {
    width: 100%; /* Розтягує лінію на всю ширину */
    border: none; /* Видаляє стандартний стиль лінії */
    border-top: 2px solid #ccc; /* Стиль, товщина і колір лінії */
    margin: 10px 0 0 0; /* Відступ зверху */
}

.bg-yellow-border {
    background: url("https://goldenpages.rv.ua/uploads/images/17303%20-%20EXTREME,%20STUDIO%20PERSONAL%20TRAINING/Extreme_02_785x350.jpg");
    color: white;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: rgb(237, 237, 96);
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30vh;
}

.bg-yellow-border p {
    font-size: 30px;
}

.content {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.adaptive-page {
    display: flex;
}

.p-headers {
    font-size: 30px;
}

@media (max-width: 768px) {
    .bg-yellow-border {
        width: 90%; /* Зменшуємо ширину для мобільних */
        padding: 10px; /* Менші відступи */
        border-radius: 10px; /* Зменшення радіусу на малих екранах */
        margin: 10px auto; /* Центруємо для мобільних */
    }
    .adaptive-page {
        flex-direction: column;
        align-items: center;
    }
}

.product {
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(215, 215, 215);
    width: 180px;
    transition: all 0.5s ease;
}

.product img {
    min-width: 50px;
    max-width: 150px;
}

.buy-btn {
    color: black;
    background-color: rgb(255, 182, 35);
    text-decoration: none;
    padding: 8px;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.466);
    margin-bottom: 10px;
    width: 100%;
    transition: all 0.5s ease;
}

.buy-btn:hover {
    font-size: 20px;
    transition: all 0.5s ease;
}

.buy-btn:active {
    font-size: 14px;
    transition: all 0.5s ease;
}

.items {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}

.product:hover {
    transition: all 0.5s ease;
    transform: scale(1.1)
}

@media (max-width: 768px) {
    .items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}

.price-menu {
    font-size: 30px;
    font-weight: 400;
}

.bg-popup h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.popup {
    border-radius: 6px;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 210;
    align-items: center;
    overflow-y: auto;
}

@media (max-width: 768px) { 
    .popup {
        width: 350px; 
        padding: 15px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
    }
}


#applyFilters {
    color: black;
    background-color: rgb(255, 182, 35);
    text-decoration: none;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid rgba(173, 162, 162, 0.466);
    margin-bottom: 10px;
    transition: all 0.5s ease;
    margin-left: 10px;
}

#applyFilters:hover {
    font-size: 20px;
    transition: all 0.5s ease;
}

.btn-just {
    color: black;
    background-color: rgb(255, 182, 35);
    text-decoration: none;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.466);
    margin-bottom: 10px;
    transition: all 0.5s ease;
    margin-left: 10px;
}

.btn-just:hover {
    font-size: 20px;
    transition: all 0.5s ease;
}

.btn-just:active {
    font-size: 20px;
    transition: all 0.5s ease;
}

#popup #clearFilters {
    margin-right: 10px;
    margin-left: 13px;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.444);
    border-radius: 20px;
    transition: all 0.5s ease;
    margin-bottom: 8px;
}

#popup #clearFilters:hover {
    font-size: 18px;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: black;
}

.p-headers-mini {
    font-size: 25px;
    font-weight: 300;
}

.popup input, .popup textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

.popup-buy input, .popup-buy textarea, .popup-buy select  {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

@media (max-width: 768px) {
    .adaptive-page {
        flex-wrap: wrap;
    }
    .border-page-img {
        width: 100%;
    }
}

.border-page-img {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.no-content {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.block-right {
    display: inline-flex;
    margin-left: 20px;
}

.justify-between {
    justify-content: space-between;
}

.price-page {
    font-size: 40px;
    font-weight: 240;
}

.name-page {
    font-size: 30px;
    font-weight: 300;
}

.in-stock {
    color: #00ab29;
    padding: 0;
    margin-right: 80%;
    margin-bottom: 10px;
}

.in-on {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-wrap: nowrap;
}

.in-on button {
    border: 0;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    width: 200px;
    background-color: rgba(255, 182, 35, 0.79);
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .in-on button {
        width: 100%;
    }
}

.in-on button:hover {
    transition: all 1s ease;
    background-color: rgba(255, 182, 35, 0.56);
}

/* .in-on button:active {
    transition: all 0.5s ease;
    background-color: rgba(255, 182, 35, 0.56);
} */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    border: 0;
    transition: all 0.5s ease;
}

.close-icon img {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #b7b7b7;
    border-radius: 40px;
    border: 1px solid #7c7c7c;
    width: 30px;
    height: 30px;
}

.icon-btn {
    border: none;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: transparent;
    align-items: center;
    transition: all 0.5s ease;
}

.icon-btn img {
    width: 40px;
}

.popup-buy {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 211;
    align-items: center;
    overflow-y: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .popup-buy {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.popup-buy button {
    border: 0;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    width: 200px;
    background-color: rgba(255, 182, 35, 0.79);
    transition: all 0.5s ease;
}

.popup-buy button:hover {
    transition: all 1s ease;
    background-color: rgba(255, 182, 35, 0.56);
}

.content input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.no-content button {
    border: 0;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    background-color: rgba(255, 182, 35, 0.79);
    transition: all 0.5s ease;
}

.btn-send {
    border: 0;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    background-color: rgba(255, 182, 35, 0.79);
    transition: all 0.5s ease;
}

.red-border {
    border: 3px solid #ff5745;
    padding: 8px;
    background-color: white;
    color: #ff5745;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 1.5px 1.5px 1px #ff5745;
    transition: all 0.5s ease;
}

.red-border:hover {
    transition: all 0.5s ease;
    border: 3px solid #ff58457a;
}

.name-weight {
    font-weight: 300;
    font-size: 40px;
}

.green-col {
    color: #A9C132;
    padding: 10px;
    font-size: 20px;
}

.in-desc {
    font-weight: 550;
    margin-left: 10px;
}

.margin-left {
    margin-left: 10px;
    margin-bottom: 5px;
}

.a-white {
    color: #A9C132;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .img-choice {
        width: 300px;
        height: 300px;
    }
}

.after-name {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 400;
    line-height: 110%;
}

.pay-now {
    display: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    width: 40px;
    background-color: rgb(42, 255, 35);
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.messageDiv {
    background-color: #00ab29;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}

#burgerMenuBtn img {
    background-color: transparent;
    width: 40px;
    margin-left: 10px;
    margin-right: 85%;
    transition: all 0.5s ease;
}

#burgerMenuBtn {
    background-color: transparent;
    border: none;
}

#burgerMenuBtn img:hover {
    transition: all 0.5s ease;
    width: 45px;
}

#closeOverlay {
    margin-right: 80%;
    padding: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.7s ease;
}

#closeOverlay:hover {
    transition: all 1s ease;
    transform: scale(0.6);
}

/* #popup-header a {
    display: inline;
    color: white;
    font-size: 50px;
    text-decoration: none;
}

#popup-header li {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 300px;
} */

.text-center {
    text-align: center;
    margin-bottom: 40%;
}

.card {
    display: inline-block;
    background-color: rgb(253, 41, 41);
    padding: 10px;
    margin: 15px;
    color: white;
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

.card p {
    margin-top: 60px;
}

.card button {
    margin-top: 80px;
    margin-left: 140px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.card-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.left-menu {
    display: block;
    background-color: white;
    width: 250px;
    margin-left: 0;
    height: 100%;
    color: black;
    text-align: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.left-menu ul {
    padding-top: 10px;
    overflow: hidden;
    list-style-type: none; /* Забираємо маркери списку */
}

.left-menu::before {
    opacity: 1;
}

.left-menu ul li a {
    overflow: hidden;
    margin-left: 10px;
    text-decoration: none; /* Прибираємо підкреслення з посилання */
    color: black; /* Колір тексту чорний */
    display: flex; /* Робимо, щоб посилання займало весь рядок */
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1;
    transition: all 0.5s ease;
}

.left-menu ul li a:hover {
    padding-left: 25px;
    transition: all 0.5s ease;
}

.left-menu ul li {
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

.header-menu {
    display: flex;
    flex-wrap: nowrap;
    color: black;
    margin-right: 80%;
}

.header-menu p {
    margin-top: 10px;
    font-size: 15px;
    transition: all 1s ease;
}

.header-menu p:hover {
    transition: all 1s ease;
    margin-left: -25px;
    padding-top: 3px;
    font-size: 20px;
    white-space: nowrap;
}

