* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.header {
    background-color: #e7e7e7;
    width: 100%;
    padding: 15px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    flex-direction: column;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-size: 20px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: rgb(54, 54, 54);
    margin-left: 10px;
    margin-bottom: 10px;
}

.header a:hover {
    font-size: 25px;
    transition: all 0.5s ease;
}

.header hr {
    width: 100%; /* Розтягує лінію на всю ширину */
    border: none; /* Видаляє стандартний стиль лінії */
    border-top: 2px solid #ccc; /* Стиль, товщина і колір лінії */
    margin: 10px 0 0 0; /* Відступ зверху */
}

.bg-yellow-border {
    background: url("https://goldenpages.rv.ua/uploads/images/17303%20-%20EXTREME,%20STUDIO%20PERSONAL%20TRAINING/Extreme_02_785x350.jpg");
    color: white;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: rgb(237, 237, 96);
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30vh;
}

.bg-yellow-border p {
    font-size: 30px;
}

.content {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.adaptive-page {
    display: flex;
}

.p-headers {
    font-size: 30px;
}

@media (max-width: 768px) {
    .bg-yellow-border {
        width: 90%; /* Зменшуємо ширину для мобільних */
        padding: 10px; /* Менші відступи */
        border-radius: 10px; /* Зменшення радіусу на малих екранах */
        margin: 10px auto; /* Центруємо для мобільних */
    }
    .adaptive-page {
        flex-direction: column;
    }
}

/* Медіа-запит для дуже маленьких екранів (наприклад, 320px) */
@media (max-width: 480px) {
    .bg-yellow-border {
        width: 100%; /* Займає всю ширину */
        padding: 15px; /* Ще менші відступи */
    }
}

.product {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(215, 215, 215);
    width: 180px;
}

.product img {
    min-width: 50px;
    max-width: 150px;
}

.buy-btn {
    color: black;
    background-color: rgb(255, 182, 35);
    text-decoration: none;
    padding: 8px;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.466);
    margin-bottom: 10px;
    width: 100%;
    transition: all 0.5s ease;
}

.buy-btn:hover {
    font-size: 20px;
    transition: all 0.5s ease;
}

.buy-btn:active {
    font-size: 14px;
    transition: all 0.5s ease;
}

.items {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .items {
        flex-wrap: wrap;
    }
}

.price-menu {
    font-size: 30px;
    font-weight: 400;
}

.bg-popup h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.popup {
    border-radius: 6px;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 210;
    align-items: center;
    overflow-y: auto;
}

@media (max-width: 768px) { 
    .popup {
        width: 350px; 
        padding: 15px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
    }
}


#applyFilters {
    color: black;
    background-color: rgb(255, 182, 35);
    text-decoration: none;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid rgba(173, 162, 162, 0.466);
    margin-bottom: 10px;
    transition: all 0.5s ease;
    margin-left: 10px;
}

#applyFilters:hover {
    font-size: 20px;
    transition: all 0.5s ease;
}

.btn-just {
    color: black;
    background-color: rgb(255, 182, 35);
    text-decoration: none;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.466);
    margin-bottom: 10px;
    transition: all 0.5s ease;
    margin-left: 10px;
}

.btn-just:hover {
    font-size: 20px;
    transition: all 0.5s ease;
}

.btn-just:active {
    font-size: 20px;
    transition: all 0.5s ease;
}

#popup #closePopup {
    margin-right: 10px;
    margin-left: 13px;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.444);
    border-radius: 20px;
    transition: all 0.5s ease;
}

#popup #clearFilters {
    margin-right: 10px;
    margin-left: 13px;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.444);
    border-radius: 20px;
    transition: all 0.5s ease;
    margin-bottom: 8px;
}

#popup #closePopup:hover {
    font-size: 15px;
    transition: all 0.5s ease;
}

#popup #clearFilters:hover {
    font-size: 18px;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: black;
}

.p-headers-mini {
    font-size: 25px;
    font-weight: 300;
}

.popup input, .popup textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

@media (max-width: 768px) {
    .adaptive-page {
        flex-wrap: wrap;
    }
    .border-page-img {
        width: 100%;
    }
}

.border-page-img {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.no-content {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.block-right {
    display: inline-flex;
    margin-left: 20px;
}

.justify-between {
    justify-content: space-between;
}

.price-page {
    font-size: 40px;
    font-weight: 240;
}

.name-page {
    font-size: 30px;
    font-weight: 300;
}

.in-stock {
    color: #00ab29;
    padding: 0;
    margin-right: 80%;
    margin-bottom: 10px;
}

.in-on {
    border: 2px solid #eaeaea;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-wrap: nowrap;
}

.in-on button {
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    width: 100%;
    background-color: rgba(255, 182, 35, 0.79);
    transition: all 0.5s ease;
}

.in-on button:hover {
    transition: all 0.5s ease;
    font-size: 28px;
}

.in-on button:active {
    transition: all 0.5s ease;
    font-size: 28px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    border: 0;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

